$primary-dark-color: #19202d;
$secondary-dark-color: #333e4f;
$label-color: #acb1ba;
$placeholder-color: #737a86;
$primary-light-color: #f2f4f8;
$yellow: #ffb800;
$yellow-dark: #ffae00;
$white: #fff;
